/* stylelint-disable value-keyword-case */
@import '../../styles/functions';

$search-icon: url('../../assets/icons/search.svg');

.header {
  &-top {
    background-color: var(--soal);

    &__logo {
      max-width: 90px;

      @media (max-width: to-em(530)) {
        display: none;
      }
    }

    &__schedule {
      color: var(--white);
      font-size: to-rem(16);
      line-height: to-prc(20, 16);
      font-weight: 500;
      display: flex;
      align-items: center;
      column-gap: 3px;

      @media (max-width: to-em(865)) {
        flex-direction: column;
      }

      @media (max-width: to-em(768)) {
        display: none;
      }
    }

    &__callback {
      display: flex;
      flex-direction: column;
      row-gap: to-em(16);

      @media (max-width: to-em(650)) {
        display: none;
      }
    }

    &__phone {
      color: var(--white);
      font-size: to-rem(18);
      font-weight: 600;
      font-style: normal;
      line-height: to-prc(20, 18);
    }

    &__call {
      width: max-content;
      color: var(--red);
      font-size: to-rem(14);
      font-style: normal;
      font-weight: 500;
      line-height: to-prc(16, 14);
      border-bottom: 1px solid currentColor;
    }

    &__options {
      display: flex;
      align-items: center;
      column-gap: 1px;
      list-style-type: none;
      height: clamp(to-em(60), 6.6vw, to-em(96));

      @media (max-width: to-em(650)) {
        column-gap: clamp(to-em(10), 3vw, to-em(30));
      }

      @media (max-width: to-em(425)) {
        justify-content: space-between;
        width: 100%;
      }
    }

    &__option {
      height: 100%;
      width: clamp(to-em(60), 6.6vw, to-em(96));
      position: relative;
      background-color: var(--dark-gray);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .badge {
        position: absolute;
        top: 30%;
        right: 25%;
        transform: translateY(-30%);
        display: flex;
        align-items: center;
        justify-content: center;
        width: clamp(15px, 2vw, 22px);
        height: clamp(15px, 2vw, 22px);
        color: var(--white);
        font-size: to-rem(11);
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        background-color: var(--orange);
        border-radius: 50%;
      }

      &:hover {
        background-color: var(--orange);

        .badge {
          background-color: var(--dark-gray);
        }
      }

      img {
        width: clamp(24px, 3vw, 32px);
        height: clamp(24px, 3vw, 32px);
      }
    }

    &__total {
      color: var(--white);
      display: flex;
      flex-direction: column;
      row-gap: 4px;
      font-size: to-rem(16);
      line-height: to-prc(20, 16);
      font-style: normal;

      span {
        font-weight: 500;
      }

      @media (max-width: to-em(650)) {
        font-size: to-rem(14);
      }

      @media (max-width: to-em(425)) {
        display: none;
      }
    }
  }

  &-bottom {
    position: relative;
    background-color: var(--black);
    padding: to-em(18) 0;

    &__catalog {
      padding: to-em(15);
      display: flex;
      align-items: center;
      column-gap: to-em(15);
      border-radius: 5px;
      border: 1px solid var(--orange);
      background-color: transparent;
      color: var(--white);

      img {
        width: clamp(16px, 2.2vw, 24px);
        height: clamp(16px, 2.2vw, 24px);
      }

      span {
        font-size: to-rem(16);
        font-style: normal;
        font-weight: 500;
        line-height: to-prc(20, 16);

        @media (max-width: to-em(500)) {
          display: none;
        }
      }
    }

    &__categories {
      display: flex;
      align-items: center;
      column-gap: clamp(to-em(10), 3.6vw, to-em(60));

      @media (max-width: to-em(768)) {
        display: none;
      }
    }

    &__category {
      color: var(--white);
      font-size: to-rem(16);
      font-style: normal;
      font-weight: 500;
      line-height: to-prc(20, 16);
    }

    &__socials {
      display: flex;
      align-items: center;
      column-gap: to-em(12);

      @media (max-width: to-em(992)) {
        display: none;
      }
    }

    &__search-wrap {
      position: relative;
      max-width: clamp(to-em(150), 21.5vw, to-em(310));
      width: 100%;
      height: clamp(to-em(40), 5vw, to-em(52));

      @media (max-width: to-em(768)) {
        max-width: none;
        width: 60%;
      }

      @media (max-width: to-em(500)) {
        width: 80%;
      }

      &::before {
        content: '';
        background-image: url('../../assets/icons/search.svg');
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        width: clamp(18px, 1.9vw, 24px);
        height: clamp(18px, 3vw, 24px);
        top: 50%;
        transform: translateY(-50%);
        left: clamp(to-em(1), 0.7vw, to-em(9));
        pointer-events: none;
      }
    }

    &__search {
      width: 100%;
      height: 100%;
      background-color: var(--white);
      padding: clamp(to-em(8), 3vw, to-em(14)) clamp(to-em(10), 3vw, to-em(21));
      border: none;
      border-radius: 5px;
      font-size: to-rem(16);
      font-style: normal;
      font-weight: 500;
      line-height: to-prc(20, 16);
      color: var(--smoky);
      padding-left: clamp(to-em(20), 3vw, to-em(45));
    }
  }
}
